<nav class="bg-purple-400 p-6 flex justify-center items-end text-xl">
    <div class="space-x-5">
      <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 "
       routerLink="/register">
       Register
      </button>
    <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 " 
      routerLink="/login">
      Login
    </button>
    </div>
  </nav>
  <div class="flex  bg-purple-600  items-center justify-center h-screen">
    <h1 class="border border-black bg-purple-400 text-3xl p-10">Welcome to the Dashboard!</h1>
  </div>
  
